/* reset default */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* root */
:root{
    font-family: Roboto;
    font-size: 16px;

    /* variables */
    ---canvasSize: 500px;
}

/* body */
body{
    background-color: hsla(180, 100%, 50%, 0.3);
}

/* center main flexbox */
.mainCenDiv{
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}

/* grid container */
.mainGridDiv{
    display: grid;
    grid-template-areas: 
    ". title"
    "btn draw";
}

/* center title */
.titleP{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    font-size: 5rem;
    grid-area: title;
}

/* buttons container */
/* flex column buttons */
.btnDiv{
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: var(---canvasSize);
    grid-area: btn;
}

/* buttons */
.btnDiv button{
    background-color: hsla(0, 0%, 0%, 0);
    font-family: Roboto;
    font-size: 1.2rem;
    width: 200px;
    height: 40px;
    border: solid 1px;
    border-radius: 15px;
}

.btnDiv button:hover{
    transform: scale(1.08);
}

.btnDiv .active{
    transform: scale(1.08);
    color: white;
    background-color: black;
    border: black;
}

/* color picker */
.colorPickerInput{
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 50%;
    box-shadow: hsla(0, 0%, 0%, 0.24) 0px 3px 8px;
}

.colorPickerInput::-webkit-color-swatch-wrapper {
    padding: 0;
    background-color: none;
}

.colorPickerInput::-webkit-color-swatch{
    border: none;
    border-radius: 50%;
}

/* size text */
.sizeP{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

/* size Input */
.sizeInput{
    -webkit-appearance: none;
    width: 200px;
    border-radius: 20px;
}

/* track */
.sizeInput::-webkit-slider-runnable-track {
height: 20px;
border: 1px solid;
border-radius: 20px;
}

/* track circle */
.sizeInput::-webkit-slider-thumb {
-webkit-appearance: none;
width: 19px;
height: 18px;
border-radius: 50%;
margin-left: 0.1px;
background: hsl(0, 0%, 0%);
}

/* canvas */
.canvasDiv{
    background-color: hsl(0, 0%, 100%);
    box-shadow: hsla(0, 0%, 0%, 0.24) 0px 3px 8px;
    width: var(---canvasSize);
    height: var(---canvasSize);
    display: grid;
    grid-area: draw;
}