/* reset default */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* root */
:root{
    font-family: Roboto;
    font-size: 16px;

    /* variables */
    ---canvasSize: 500px;
}

/* body */
body{
    background-color: hsl(180, 100%, 90%);
}

/* center title */
.titleTxt{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    font-size: 4rem;
}

/* center main flexbox */
.mainCon{
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}

/* buttons container */
/* flex column buttons */
.btnCon{
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: var(---canvasSize);
}

/* buttons */
.btnCon button{
    background-color: hsla(0, 0%, 0%, 0);
    font-family: Roboto;
    font-size: 1.2rem;
    width: 200px;
    height: 40px;
    border: solid 1px;
    border-radius: 15px;
}

/* color picker */
.colorPicker{
    /* overflow: hidden; */
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 50%;
    box-shadow: hsla(0, 0%, 0%, 0.24) 0px 3px 8px;
}

.colorPicker::-webkit-color-swatch-wrapper {
    padding: 0;
    background-color: none;
}

.colorPicker::-webkit-color-swatch{
    border: none;
    border-radius: 50%;
}

/* canvas */
.drawCon{
    /* border: solid 1px; */
    background-color: hsl(0, 0%, 100%);
    box-shadow: hsla(0, 0%, 0%, 0.24) 0px 3px 8px;
    width: var(---canvasSize);
    height: var(---canvasSize);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

